################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Vitro/Web.config
/Vitro/Web.Debug.config
/Vitro/Web.Release.config
