
@{
    ViewBag.Title = "NotFound";
}

<div class="row">
    <div class="cell-12">
        <div class="panel fg-white text-upper text-center p-5" style="background-color: #005776;">El recurso al que esta intentando acceder no parece estar disponible</div>
    </div>
</div>

