USE [catalogomr]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProcessProducts_v2]    Script Date: 30/03/2025 10:37:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ProcessProducts]
    @PAIS NVARCHAR(100),
    @USERNAME NVARCHAR(100),
    @ACTUALIZAPRODUCTOS BIT,  -- 0: Insertar, 1: Actualizar
    @DATA dbo.ProductType READONLY,
	@IMAGES dbo.ProductImagesType READONLY
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @NuevoIdCargue INT = 0, @TotalCargue INT, @TotalProcesados INT, @Mensaje NVARCHAR(MAX);
    BEGIN TRY

	    IF OBJECT_ID('tempdb..#TempProductos') IS NOT NULL
        DROP TABLE #TempProductos;

		IF OBJECT_ID('tempdb..#LogErroresCarga') IS NOT NULL
        DROP TABLE #LogErroresCarga;


        -- Crear una tabla temporal para errores
        CREATE TABLE #LogErroresCarga (
            ID INT IDENTITY(1,1) NOT NULL,
            FECHA_PROCESO DATETIME DEFAULT GETDATE(),
            USUARIO NVARCHAR(100),
            FILA INT,
            COLUMNA NVARCHAR(100),
            VALOR_INCORRECTO NVARCHAR(MAX),
            DESCRIPCION_ERROR NVARCHAR(MAX)
        );
		-- Asociar ProductId a cada imagen por SAP
		DECLARE @ProcessedImages TABLE (
			ImagenId UNIQUEIDENTIFIER,
			SAP NVARCHAR(50),
			ProductId NVARCHAR(128),
			Posicion INT NULL,
			Nombre NVARCHAR(200),
			Extension NVARCHAR(20),
			Contenido VARBINARY(MAX)
		);
        -- Crear una tabla temporal para almacenar los datos a insertar/actualizar
        CREATE TABLE #TempProductos (
            PRODUCTID NVARCHAR(128), PAISID NVARCHAR(128), SAP NVARCHAR(50), NAGS NVARCHAR(50),
            MARCAID NVARCHAR(128), MODELOID NVARCHAR(128), DESCRIPCION NVARCHAR(255),
            MERCADOID NVARCHAR(128), COLORID NVARCHAR(128), TIPOVIDRIOID NVARCHAR(128),
            TIPOPARTEID NVARCHAR(128), ANCHO DECIMAL(10,2), ALTO DECIMAL(10,2),
            BOTON BIT, RED BIT, SERIGRAFIA BIT, SENSORLLUVIA BIT, MOLDURA BIT,
            HOLDER BIT, SENSORCONDENSACION BIT, HOMOLOGO NVARCHAR(50), CLASIFICACION NVARCHAR(50),
            PERFORACION BIT, STARTYEAR INT, ENDYEAR INT, PROCEDENCIAID NVARCHAR(128),
            ACTIVO BIT, FECHACREACION DATETIME, FECHAMODIFICACION DATETIME,
            ANTENA BIT, SUBENSAMBLE BIT, CREADOPOR NVARCHAR(100)
        );

		DECLARE @TempHistoricoCargue TABLE (
		   IdRegistro NVARCHAR(128),SAP VARCHAR(50),NAGS VARCHAR(50),ModeloId NVARCHAR(128),Descripcion VARCHAR(255),MercadoId NVARCHAR(128),
		   ColorId NVARCHAR(128),TipoVidrioId NVARCHAR(128),TipoParteId NVARCHAR(128),Ancho DECIMAL(10,2),Alto DECIMAL(10,2),Boton BIT,Red BIT,
		   Serigrafia BIT,SensorLluvia BIT,Moldura BIT,Holder BIT,SensorCondensacion BIT,Homologo VARCHAR(50),Perforacion BIT,StartYear INT,EndYear INT,
		   ProcedenciaId NVARCHAR(128),Activo BIT,FechaCreacion DATETIME,Antena BIT,SubEnsamble BIT, Valido BIT,  IdCargue INT,UserName VARCHAR(50), Resultado VARCHAR(50)
		);
        -- Insertar datos en la tabla temporal para validar y procesar
        INSERT INTO #TempProductos
        SELECT * FROM @DATA;

		-- Obtener el último IdCargue
		SELECT @NuevoIdCargue = MAX(IdCargue) FROM dbo.HistoricoCargue;
		SET @NuevoIdCargue = ISNULL(@NuevoIdCargue, 0) + 1;

		--#region VALIDACIONES EN BLOQUE DETECTAR CAMPOS VACIOS
		INSERT INTO #LogErroresCarga (FECHA_PROCESO, USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
        SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'PAIS', PAISID, 'PAIS ES OBLIGATORIO'
        FROM #TempProductos WHERE PAISID IS NULL OR PAISID = '';

        INSERT INTO #LogErroresCarga (FECHA_PROCESO, USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
        SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'NAGS', NAGS, 'NAGS ES OBLIGATORIO'
        FROM #TempProductos WHERE NAGS IS NULL OR NAGS = '';

        INSERT INTO #LogErroresCarga (FECHA_PROCESO, USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
        SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'MARCA', MARCAID, 'MARCA ES OBLIGATORIO'
        FROM #TempProductos WHERE MARCAID IS NULL OR MARCAID = '';

        INSERT INTO #LogErroresCarga (FECHA_PROCESO, USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
        SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SAP', SAP, 'SAP ES OBLIGATORIO'
        FROM #TempProductos WHERE SAP IS NULL OR SAP = '';

		--#endregion FIN
		INSERT INTO #LogErroresCarga (FECHA_PROCESO, USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
        SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SAP', SAP, 'SAP ES OBLIGATORIO'
        FROM #TempProductos WHERE SAP IS NULL OR SAP = '';

	   --#region Validar que los campos tipo BIT solo contengan 0 o 1

		INSERT INTO #LogErroresCarga(FECHA_PROCESO, USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'PERFORACION', PERFORACION, 'PERFORACION DEBE SER SI O NO'
		FROM #TempProductos WHERE PERFORACION NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'RED', RED, 'RED DEBE SER SI O NO'
		FROM #TempProductos WHERE RED NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'BOTON', BOTON, 'BOTON DEBE SER SI O NO'
		FROM #TempProductos WHERE BOTON NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SERIGRAFIA', SERIGRAFIA, 'SERIGRAFIA DEBE SER SI O NO'
		FROM #TempProductos WHERE SERIGRAFIA NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SENSOR LLUVIA', SENSORLLUVIA, 'SENSOR LLUVIA DEBE SER SI O NO'
		FROM #TempProductos WHERE SENSORLLUVIA NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'MOLDURA', MOLDURA, 'MOLDURA DEBE SER SI O NO'
		FROM #TempProductos WHERE MOLDURA NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(),@USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'HOLDER', HOLDER, 'HOLDER DEBE SER SI O NO'
		FROM #TempProductos WHERE HOLDER NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'ANTENA', ANTENA, 'ANTENA DEBE SER SI O NO'
		FROM #TempProductos WHERE ANTENA NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'HOMOLOGO', HOMOLOGO, 'HOMOLOGO DEBE SER SI O NO'
		FROM #TempProductos WHERE HOMOLOGO NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SUBENSAMBLE', SUBENSAMBLE, 'SUBENSAMBLE DEBE SER SI O NO'
		FROM #TempProductos WHERE SUBENSAMBLE NOT IN (0,1)
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SENSOR CONDENSACION', SENSORCONDENSACION, 'SENSOR CONDENSACION DEBE SER SI O NO'
		FROM #TempProductos WHERE SENSORCONDENSACION NOT IN (0,1);
	   --endregion
		
		INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'ANCHO', ANCHO, 'ANCHO DEBE SER UN NÚMERO MAYOR O IGUAL A 0'
		FROM #TempProductos WHERE TRY_CONVERT(FLOAT, ANCHO) IS NULL OR ANCHO < 0
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'ALTO', ALTO, 'ALTO DEBE SER UN NÚMERO MAYOR O IGUAL A 0'
		FROM #TempProductos WHERE TRY_CONVERT(FLOAT, ALTO) IS NULL OR ALTO < 0
		UNION ALL
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'PERFORACION', PERFORACION, 'PERFORACION DEBE SER UN NÚMERO MAYOR O IGUAL A 0'
		FROM #TempProductos WHERE TRY_CONVERT(FLOAT, PERFORACION) IS NULL OR PERFORACION < 0;


        -- Validar que no haya SAPs duplicados en la carga
        INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
        SELECT GETDATE(),@USERNAME, ROW_NUMBER() OVER (PARTITION BY SAP ORDER BY SAP), 'SAP', SAP, 'EL CÓDIGO SAP ESTÁ DUPLICADO EN EL ARCHIVO'
        FROM #TempProductos
        WHERE SAP IN (SELECT SAP FROM #TempProductos GROUP BY SAP HAVING COUNT(*) > 1);

        -- Validar que SAP no exista en la base de datos si se está insertando
		 IF @ACTUALIZAPRODUCTOS = 0
		BEGIN
			INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
			SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'SAP', T.SAP, 'EL CÓDIGO SAP YA EXISTE EN LA BASE DE DATOS'
			FROM #TempProductos T
			WHERE EXISTS (
				SELECT 1 
				FROM dbo.Product P 
				WHERE P.SAP COLLATE DATABASE_DEFAULT = T.SAP COLLATE DATABASE_DEFAULT
			);
		END

	    -- 🚀 2️⃣ Actualizamos los valores válidos de COLORID en #TempProductos con su ID correspondiente
		--PAIS
		INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'PAIS', PAISID, 'POR FAVOR VALIDAR PAIS EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.Pais C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.PAISID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.PAISID = C.PaisId
		FROM #TempProductos TP
		INNER JOIN dbo.Pais C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.PAISID)) COLLATE DATABASE_DEFAULT


		INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'COLOR', COLORID, 'POR FAVOR VALIDAR COLOR EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.Color C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.COLORID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.COLORID = C.ColorId
		FROM #TempProductos TP
		INNER JOIN dbo.Color C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.COLORID)) COLLATE DATABASE_DEFAULT

		-- MARCA
		INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'MARCA', MARCAID, 'POR FAVOR VALIDAR MARCA EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.Marca C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.MARCAID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.MARCAID = C.MarcaId
		FROM #TempProductos TP
		INNER JOIN dbo.Marca C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.MARCAID)) COLLATE DATABASE_DEFAULT

	    --MODELO
	    INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'MODELO', MODELOID, 'POR FAVOR VALIDAR MODELO EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.Modelo C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.MODELOID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.MODELOID = C.ModeloId
		FROM #TempProductos TP
		INNER JOIN dbo.Modelo C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.MODELOID)) COLLATE DATABASE_DEFAULT

		--MERCADO
	    INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'MERCADO', MERCADOID, 'POR FAVOR VALIDAR MERCADO EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.Mercado C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.MERCADOID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.MERCADOID = C.MercadoId
		FROM #TempProductos TP
		INNER JOIN dbo.Mercado C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.MERCADOID)) COLLATE DATABASE_DEFAULT

		--TIPO VIDRIO
	    INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'TIPO VIDRIO', TIPOVIDRIOID, 'POR FAVOR VALIDAR TIPO VIDRIO EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.TipoVidrio C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.TIPOVIDRIOID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.TIPOVIDRIOID = C.TipoVidrioId
		FROM #TempProductos TP
		INNER JOIN dbo.TipoVidrio C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.TIPOVIDRIOID)) COLLATE DATABASE_DEFAULT

	    --TIPO PARTE
		INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'TIPO PARTE', TIPOPARTEID, 'POR FAVOR VALIDAR TIPO PARTE EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.TipoParte C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.TIPOPARTEID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.TIPOPARTEID = C.TipoParteId
		FROM #TempProductos TP
		INNER JOIN dbo.TipoParte C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.TIPOPARTEID)) COLLATE DATABASE_DEFAULT
	    
		--TIPO PROCEDENCIA
		INSERT INTO #LogErroresCarga (FECHA_PROCESO,USUARIO, FILA, COLUMNA, VALOR_INCORRECTO, DESCRIPCION_ERROR)
		SELECT GETDATE(), @USERNAME, ROW_NUMBER() OVER (ORDER BY SAP), 'PROCEDENCIA', PROCEDENCIAID, 'POR FAVOR VALIDAR PROCEDENCIA EN LOS DATOS MAESTROS'
		FROM #TempProductos TP
		WHERE NOT EXISTS (
			SELECT 1 FROM dbo.Procedencia C WHERE LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.PROCEDENCIAID)) COLLATE DATABASE_DEFAULT
		);

		UPDATE TP
		SET TP.PROCEDENCIAID = C.ProcedenciaId
		FROM #TempProductos TP
		INNER JOIN dbo.Procedencia C ON LTRIM(RTRIM(C.Nombre))  COLLATE DATABASE_DEFAULT = LTRIM(RTRIM(TP.PROCEDENCIAID)) COLLATE DATABASE_DEFAULT


        -- 🚨 Si hay errores, detener la ejecución
        IF EXISTS (SELECT 1 FROM #LogErroresCarga)
        BEGIN
            SELECT * FROM #LogErroresCarga;
            -- PRINT 'Se encontraron errores en la carga. No se insertaron datos.';
            RETURN;
        END;

        -- 🚀 Procesamiento eficiente con MERGE
        IF @ACTUALIZAPRODUCTOS = 0  -- Insertar nuevos productos
        BEGIN
		BEGIN TRANSACTION;
            MERGE INTO dbo.Product AS target
			USING #TempProductos AS source  
			ON target.SAP COLLATE SQL_Latin1_General_CP1_CI_AS = source.SAP COLLATE SQL_Latin1_General_CP1_CI_AS
			WHEN NOT MATCHED THEN 
			INSERT (PRODUCTID, PAISID, SAP, NAGS, MARCAID, MODELOID, DESCRIPCION, 
					MERCADOID, COLORID, TIPOVIDRIOID, TIPOPARTEID, ANCHO, ALTO, 
					BOTON, RED, SERIGRAFIA, SENSORLLUVIA, MOLDURA, HOLDER, 
					SENSORCONDENSACION, HOMOLOGO, CLASIFICACION, PERFORACION, 
					STARTYEAR, ENDYEAR, PROCEDENCIAID, ACTIVO, FECHACREACION, 
					FECHAMODIFICACION, ANTENA, SUBENSAMBLE, CREADOPOR, MODIFICADOPOR)
			VALUES (source.PRODUCTID, source.PAISID, source.SAP, source.NAGS, source.MARCAID, 
					source.MODELOID, source.DESCRIPCION, source.MERCADOID, source.COLORID, 
					source.TIPOVIDRIOID, source.TIPOPARTEID, source.ANCHO, source.ALTO, 
					source.BOTON, source.RED, source.SERIGRAFIA, source.SENSORLLUVIA, 
					source.MOLDURA, source.HOLDER, source.SENSORCONDENSACION, source.HOMOLOGO, 
					source.CLASIFICACION, source.PERFORACION, source.STARTYEAR, source.ENDYEAR, 
					source.PROCEDENCIAID, 1, source.FECHACREACION, source.FECHAMODIFICACION, 
					source.ANTENA, source.SUBENSAMBLE, source.CREADOPOR, NULL)

				OUTPUT 
					NEWID(),inserted.SAP,inserted.NAGS,inserted.ModeloId,inserted.Descripcion,inserted.MercadoId,inserted.ColorId,
					inserted.TipoVidrioId,inserted.TipoParteId,inserted.Ancho,inserted.Alto,inserted.Boton,inserted.Red,inserted.Serigrafia,
					inserted.SensorLluvia,inserted.Moldura,inserted.Holder,inserted.SensorCondensacion,inserted.Homologo,inserted.Perforacion,
					inserted.StartYear,inserted.EndYear,inserted.ProcedenciaId,
					inserted.Activo,GETDATE(),inserted.Antena,inserted.SubEnsamble,1, @NuevoIdCargue,inserted.CreadoPor,'CREADO'
				INTO @TempHistoricoCargue;
				INSERT INTO dbo.HistoricoCargue (
					IdRegistro, SAP, NAGS, ModeloId, Descripcion, MercadoId, ColorId, TipoVidrioId, 
					TipoParteId, Ancho, Alto, Boton, Red, Serigrafia, SensorLluvia, Moldura, Holder, 
					SensorCondensacion, Homologo, Perforacion, StartYear, EndYear, ProcedenciaId, 
					Activo, FechaCreacion, Antena, SubEnsamble,Valido, IdCargue, UserName, Resultado)
				SELECT 
					NEWID(), SAP, NAGS, ModeloId, Descripcion, MercadoId, ColorId, TipoVidrioId, 
					TipoParteId, Ancho, Alto, Boton, Red, Serigrafia, SensorLluvia, Moldura, Holder, 
					SensorCondensacion, Homologo, Perforacion, StartYear, EndYear, ProcedenciaId, 
					Activo, FechaCreacion, 1,SubEnsamble,Valido, IdCargue, UserName, Resultado
				FROM @TempHistoricoCargue;

				-- UPDATE en TempProducto usando los datos de la tabla temporal
				UPDATE TP
				SET TP.Valido = 1, TP.Procesado = 1
				FROM dbo.TempProducto TP
				INNER JOIN @TempHistoricoCargue IR ON TP.SAP = IR.SAP;

				-- Eliminar imágenes anteriores si existen para ese producto y misma posición
				--DELETE PI
				--FROM dbo.ProductImages PI
				--INNER JOIN @IMAGES I ON PI.SAP = I.SAP AND PI.Posicion = I.Posicion;

		COMMIT TRANSACTION;		



        END
        ELSE  -- Actualizar productos existentes
        BEGIN
            MERGE dbo.Product AS target
            USING #TempProductos AS source
            ON target.SAP  COLLATE SQL_Latin1_General_CP1_CI_AS = source.SAP COLLATE SQL_Latin1_General_CP1_CI_AS
            WHEN MATCHED THEN
                UPDATE SET 										     
                    target.PAISID = source.PAISID,
                    target.NAGS = source.NAGS,
                    target.MARCAID = source.MARCAID,
                    target.MODELOID = source.MODELOID,
                    target.DESCRIPCION = source.DESCRIPCION,
                    target.MERCADOID = source.MERCADOID,
                    target.COLORID = source.COLORID,
                    target.TIPOVIDRIOID = source.TIPOVIDRIOID,
                    target.TIPOPARTEID = source.TIPOPARTEID,
                    target.ANCHO = source.ANCHO,
                    target.ALTO = source.ALTO,
                    target.BOTON = source.BOTON,
                    target.RED = source.RED,
                    target.SERIGRAFIA = source.SERIGRAFIA,
                    target.SENSORLLUVIA = source.SENSORLLUVIA,
                    target.MOLDURA = source.MOLDURA,
                    target.HOLDER = source.HOLDER,
                    target.SENSORCONDENSACION = source.SENSORCONDENSACION,
                    target.HOMOLOGO = source.HOMOLOGO,
                    target.CLASIFICACION = source.CLASIFICACION,
                    target.PERFORACION = source.PERFORACION,
                    target.STARTYEAR = source.STARTYEAR,
                    target.ENDYEAR = source.ENDYEAR,
                    target.PROCEDENCIAID = source.PROCEDENCIAID,
                    target.ACTIVO = source.ACTIVO,
                    target.FECHAMODIFICACION = GETDATE(),
                    target.MODIFICADOPOR = @USERNAME;


        END;
		--INSERT INTO @ProcessedImages (ImagenId, SAP, ProductId, Posicion, Nombre, Extension, Contenido)
		--SELECT 
		--	I.ImagenId,
		--	I.SAP,
		--	P.ProductId,
		--	 ROW_NUMBER() OVER (PARTITION BY I.SAP ORDER BY I.Nombre) +
		--	ISNULL((
		--		SELECT MAX(Posicion) 
		--		FROM dbo.ProductImages 
		--		WHERE SAP = I.SAP
		--	), 0) AS Posicion,
		--	I.Nombre,
		--	I.Extension,
		--	I.Contenido
		--FROM @IMAGES I
		--INNER JOIN dbo.Product P ON P.SAP = I.SAP;

		---- MERGE para actualizar o insertar imágenes
		--MERGE INTO dbo.ProductImages AS target
		--USING @ProcessedImages AS source
		--ON target.SAP = source.SAP AND target.Posicion = source.Posicion
		--WHEN MATCHED THEN
		--	UPDATE SET
		--		target.Nombre = source.Nombre,
		--		target.Extension = source.Extension,
		--		target.Contenido = source.Contenido,
		--		target.FechaActualizacion = GETDATE()
		--WHEN NOT MATCHED THEN
		--	INSERT (ImagenId, SAP, ProductId, Posicion, Nombre, Extension, Contenido, FechaCreacion)
		--	VALUES (source.ImagenId, source.SAP, source.ProductId, source.Posicion, source.Nombre, source.Extension, source.Contenido, GETDATE());

    END TRY
    BEGIN CATCH
        -- Capturar errores
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        DECLARE @ErrorProcedure NVARCHAR(200) = ERROR_PROCEDURE();
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();

        INSERT INTO dbo.LogErroresSistema (Usuario, NumeroError, Linea, Procedimiento, Mensaje, Fecha)
        VALUES (@USERNAME, @ErrorNumber, @ErrorLine, @ErrorProcedure, @ErrorMessage, GETDATE());

        PRINT 'Se ha producido un error en la ejecución del procedimiento almacenado.';
		SELECT * FROM #LogErroresCarga
    END CATCH;
END;
